html, body {
    height: 60%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontalcontainer {
    display: flex;
    justify-content: center;
    width: 600px;
    text-align: center;
}

.verticalcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}