<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jessica's Final Project</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <form action="/submit" method="post" id="submit">
        <div class="verticalcontainer">
            <div class="horizontalcontainer">
                <h1>Hacking Chinese Studies Final Project</h1>
            </div>
            <div class="horizontalcontainer">
                <p>
                    Search in any language below to compare keywords found between documents related to the Tang, Song, Ming and Qing Dynasties!
                </p>
            </div>
            <div class="horizontalcontainer">
                <input type="text" id="searchword" name="searchword"><br>
    
                <button type="submit">Search</button>
            </div>
        </div>
    </form>
</body>

</html>