<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jessica's Final Project</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <form action="/submit" method="post" id="submit">
        <div class="verticalcontainer">
            <div class="horizontalcontainer">
                <h1>Title</h1>
            </div>
            <div class="horizontalcontainer">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, eligendi modi laboriosam tenetur nisi provident vero similique quas dolor illum, beatae nulla tempora illo ea doloremque culpa? Harum, error molestias?
                </p>
            </div>
            <div class="horizontalcontainer">
                <input type="text" id="searchword" name="searchword"><br>
    
                <button type="submit">Search</button>
            </div>
        </div>
    </form>
</body>

</html>